player-connection-mode=Connect
player-connection-guid=3485721614
player-connection-debug=0
player-connection-project-name=wechat_unity
player-connection-wait-timeout=-1
player-connection-ip=172.20.72.106:37100
player-connection-ip=172.26.64.1:37100
profiler-enable=1
wait-for-native-debugger=0
hdr-display-enabled=0
